
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #0a1c33, #000);
  color: #fff;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: white;
}

header {
  position: relative;
}
.menu {
  list-style: none;
  display:flex;
  justify-content: center;
  background-color: #000;
  padding: 10px 0;
  margin: 0;
}
.menu li {
  margin: 0 20px;
}
.menu li a {
  padding: 8px 14px;
  transition: background 0.3s;
}
.menu li a:hover,
.menu li.activo a {
  background-color: #004477;
  border-radius: 6px;
}
.banner {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
.texto-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.texto-banner h1 {
  font-size: 3em;
  margin: 0;
}

.texto-banner p {
  font-size: 1.2em;
  margin-top: 10px;
}

.destacados {
  padding: 40px 60px;
  text-align: center;
}

.destacados h2 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #00ffff;
}

.grid-destacados {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  justify-content: center;
}

.cuadro {
  background: linear-gradient(to right, #0c2c52, #02111f);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  text-align: center;
  transition: transform 0.3s ease;
}

.cuadro:hover {
  transform: scale(1.05);
}

.cuadro img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.cuadro h3 {
  color: yellow;
  margin-bottom: 10px;
}
footer {
  background-color: #000;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9em;
  color: #aaa;
}

@media screen and (max-width: 768px) {
  .texto-banner h1 {
    font-size: 2em;
  }
  .texto-banner p {
    font-size: 1em;
  }
  .destacados {
    padding: 30px 20px;
  }
  .menu{
 flex-direction: column;
  text-align: center;
  
  }
}
