body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #011627;
  color: #ffffff;
  padding: 20px;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #000;
  padding: 10px 0;
  margin: 0;
}

.menu li {
  margin: 0 20px;
}

.menu li a {
  padding: 8px 14px;
  transition: background 0.3s;
}

.menu li a:hover,
.menu li.activo a {
  background-color: #004477;
  border-radius: 6px;
}
.titulo {
  text-align: center;
  margin: 30px 0;
  color: #00ffff;
  font-size: 2em;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  text-align: center;
  color: #00ffff;
  font-size: 2em;
  margin-bottom: 30px;
}

.description {
  text-align: justify;
  margin: 20px auto;
  max-width: 800px;
  font-size: 1em;
  color: #ccc;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.card {
  background-color: #1e2a38;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 255, 255, 0.2);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-name {
  padding: 15px;
  text-align: center;
  font-weight: bold;
  color: #00ffff;
  font-size: 1.2em;
}
@media screen and (max-width: 768px) {
  
  .destacados {
    padding: 30px 20px;
  }
  .menu{
      flex-direction: column;
  text-align: center;
  }
}
.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}
.producto {
  background: #0d1b2a; /* el mismo azul que usas de fondo */
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: cyan;
  transition: transform 0.2s;
}
.producto:hover {
  transform: scale(1.05);
}
.producto img {
  width: 100%;
  border-radius: 10px;
}
