body {
 margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #00111f, #000);
  color: #fff;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #000;
  padding: 10px 0;
  margin: 0;
}

.menu li {
  margin: 0 20px;
}

.menu li a {
  padding: 8px 14px;
  transition: background 0.3s;
}

.menu li a:hover,
.menu li.activo a {
  background-color: #004477;
  border-radius: 6px;
}
a {
  text-decoration: none;
  color: white;
}
.titulo {
  text-align: center;
  margin: 30px 0;
  color: #00ffff;
  font-size: 2em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 20px 40px;
}

.card {
  display: flex;
  align-items: center;
  background: #051f3a;
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
  gap: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  border-left: 3px solid black;
  box-shadow: #000;
  background: radial-gradient(circle at center, #1d4e89, #000);
}

.card img {
  width: 180px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: #000;
   transition: transform 0.2s;
}
.card img:hover{
     transform: scale(2.05);
}

.texto {
  flex: 1;
}

.texto h2 {
  margin-top: 0;
  color: #00ffff;
  font-size: 1.3em;
}

.texto p {
  margin-top: 5px;
  font-size: 1em;
  color: #ccc;
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
.menu{
  flex-direction: column;
  text-align: center;
  }
}
