body {
  margin: 0;
  padding: 0;
  background: #00172D;
  font-family: Arial, sans-serif;
  color: white;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #000;
  padding: 10px 0;
  margin: 0;
}

.menu li {
  margin: 0 20px;
}

.menu li a {
  padding: 8px 14px;
  transition: background 0.3s;
}

.menu li a:hover,
.menu li.activo a {
  background-color: #004477;
  border-radius: 6px;
}
a {
  text-decoration: none;
  color: white;
}
.cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.card {
  display: flex;
  align-items: center;
  background: radial-gradient(circle at center, #1d4e89, #000);
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  gap: 20px;
}

.card img {
  width: 150px;
  height: auto;
  object-fit: contain;
  background: black;
  border-radius: 8px;
transition: transform 0.2s;
}
.card img:hover{
     transform: scale(2.05);
}

.text-content {
  flex: 1;
}

.text-content h2 {
  margin: 0 0 5px;
  font-size: 1.5em;
  color: #FFD700;
}

.text-content p {
  margin: 0;
  font-size: 1em;
}
@media screen and (max-width: 768px) {
  
  .destacados {
    padding: 30px 20px;
  }
  .menu{
      flex-direction: column;
  text-align: center;
  }
}