body {
      font-family: Arial, sans-serif;
      background: #011627;
      padding: 20px;
      background: radial-gradient(circle at center, #1d4e89, #000);
    }
    h1 {
      text-align: center;
       color: #44cfd1;
    }
    h2 {
      text-align: center;
       color: #bddedf;
    }
    .productos {
      display: flex;
      list-style: none;
      gap: 20px;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 20px;
      text-emphasis-color: #00ffff;
    }
    .producto {
      background: rgb(29, 128, 137);
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 0 5px ;
      text-align: center;
      width: 200px;
      background: radial-gradient(circle at center, #4a92ea, #000);
    }
    .producto img {
      width: 100%;
      border-radius: 8px;
    }
    button {
      margin-top: 10px;
      padding: 8px 12px;
      border: none;
      background: #004477;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }
    button:hover {
      background: #0056b3;
    }
    .carrito {
      margin-top: 30px;
       color: #FFD700;
      text-align: center;
      background: white;
      background: radial-gradient(circle at center, #1d4e89, #000);
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(0,0,0,0.2);
      width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
    
    